.container {
	max-width: 1170px;
    margin: auto;
}

.container .h2{
	padding-top: 8rem;
	margin: 0 auto;
	font-size: 32px
}
.banner{
	display: flex;
	justify-content: space-between;
		
}

.banner .banner-area{
	margin-bottom: 1rem;
	min-width:80px;

}
.banner .banner-area img{
	
	width: 50%;
	display: block;
}


.banner-area img:hover{
	filter: drop-shadow(0px 0px 10px chartreuse)
}

@media screen and (max-width: 800px) {
	.banner{
		display: none;
	}
}